@config './tailwind.config.js';
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/static/WorkSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./assets/fonts/static/WorkSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/static/WorkSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Work Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/WorkSans-Italic-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
}

@layer components {
}
